  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= portfolio.title %></h4>
        </div>
        <div class="modal-body">
          <%= portfolio.overview %>
        </div>
        <div class="modal-footer">
          <%= portfolio.skillset.to_s %>
        </div>
      </div>
  </div>